on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main


jobs:
  build-chaincode:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: chaincodes/carbon
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.23

      - name: Build carbon chaincode
        run: go mod tidy && go mod vendor && go build -o carbon ./cmd/carbon/main.go

  # docker-build:
  #   needs: build
